<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sushant.fashionapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".FirebaseCache"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FashionApp">
        <activity
            android:name=".seller.DisplayProductActivity"
            android:exported="false" />
        <activity
            android:name=".Buyer.OTPActivity"
            android:exported="false" />
        <activity
            android:name=".Buyer.BuyerSecurityActivity"
            android:exported="false" />
        <activity
            android:name=".Buyer.BuyerPhoneSignIn"
            android:exported="false" />
        <activity
            android:name=".Buyer.BuyerProfileActivity"
            android:exported="true" />
        <activity
            android:name=".Buyer.BuyerSettingActivity"
            android:exported="false" />
        <activity
            android:name=".ActivitySellerMain"
            android:exported="false" />
        <activity
            android:name=".Buyer.ViewMoreActivity"
            android:exported="false" />
        <activity
            android:name=".Buyer.WishListActivity"
            android:exported="false" />
        <activity
            android:name=".ImageActivity"
            android:exported="false" />
        <activity
            android:name=".seller.ActivityAddProduct"
            android:exported="false" />
        <activity
            android:name=".seller.SellerHomePage"
            android:exported="false" />
        <activity
            android:name=".seller.SellerRegistration"
            android:exported="false" />
        <activity
            android:name=".Buyer.CartActivity"
            android:exported="false" />
        <activity
            android:name=".Buyer.ActivityProductDetails"
            android:exported="false" />
        <activity
            android:name=".ActivityHomePage"
            android:exported="false" />
        <activity
            android:name=".ActivityForgotPass"
            android:exported="false" />
        <activity
            android:name=".ActivityRegister"
            android:exported="false" />
        <activity
            android:name=".ActivitySignIn"
            android:exported="false" />
        <activity
            android:name=".WelcomeScreen"
            android:exported="false" />
        <activity
            android:name=".OnBoarding"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />
    </application>

</manifest>